/**
 * Main menu icons.
 */
.navbar-icon-uwaterloo-publication-settings:before {
  background-image: url("icons/787878/book.svg");
}
.no-svg .navbar-icon-uwaterloo-publication-settings:before {
  background-image: url("icons/787878/book.png");
}
.navbar-icon-uwaterloo-publication-settings:active:before,
.navbar-icon-uwaterloo-publication-settings.navbar-active:before {
  background-image: url("icons/000000/book.svg");
}
.no-svg .navbar-icon-uwaterloo-publication-settings:active:before,
.no-svg .navbar-icon-uwaterloo-publication-settings.navbar-active:before {
  background-image: url("icons/000000/book.png");
}
